[Unit]
Description=Show Me Monitoring Application
After=network.target

[Service]
User=<username>
WorkingDirectory=<path_to_showmemonitor>/showmemonitor/src
Environment=FLASK_CONFIG=debug
ExecStart=<path_to_pyenv_home>/.pyenv/versions/showme/bin/gunicorn -b 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
