{% extends 'base.html' %}

{% block title %}
<title>Show Me Monitor</title>
{% endblock %}

{% block content %}
<!-- <img class="feed" src="{{ url_for('monitor') }}" /> -->
{% endblock %}

{% block clips %}
<form action="/clips" method="POST">
<label for="clip">Choose previously saved clip to download:</label>
<select name="clip" id="clip">
{% for clip in clips %}
    <option value="{{ clip }}">{{ clip }}</option>
{% endfor %}
</select>

<input type="submit" value="Download" />
</form>
{% endblock %}
